

	Dettaglio

	<div ng-controller="dettaglio"> {{dettaglioUtente}} </div>

	<div ng-controller="dettaglio">
  <form name="form" class="css-form" ng-submit="inviaDati()" novalidate>
    <label>Name:
      <input type="text" ng-model="toSend.nome" name="uName" required="true" />
    </label>
    <br />
    <div ng-show="form.$submitted || form.uName.$touched">
      <div ng-show="form.uName.$error.required">Tell us your name.</div>
    </div>

    <label>E-mail:
      <input type="email" ng-model="toSend.email" name="uEmail" required="true" />
    </label>
    <br />
    <div ng-show="form.$submitted || form.uEmail.$touched">
      <span ng-show="form.uEmail.$error.required">Tell us your email.</span>
      <span ng-show="form.uEmail.$error.email">This is not a valid email.</span>
    </div>

	<textarea ng-model="toSend.title" name="msg" rows="8" cols="50"
          class="input-no-width rounded shaded left clearboth" id="msg" required="true"> 
	</textarea>
	<br>
	<span ng-show="form.msg.$error.required">Modify new title.</span>

    <input type="submit" value="Save" />
  </form>

</div>