<!DOCTYPE html>
<html ng-app="optionsEx">
<head>
	<title ng-bind="'Prima App'"></title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js"></script>
	<script src="app.js"></script>
	<script src="filter.js"></script>
</head>
<body ng-controller="primoController as pctrl">
	
<!-- soluzione di ieri -->
<select ng-model="valoreSelezionato">
	<option ng-repeat="x in valori" value="{{x.id}}">
			
		{{x.value}}

	</option>
</select>
<br>
{{valoreSelezionato}}

<!-- ng-options ha come valore l'intero oggetto-->
<select ng-model="valoreSelezionatoNuovo" ng-options="iteratore.value for iteratore in valori">
	<option>
	</option>
</select>
<br>
{{valoreSelezionatoNuovo}}


<!-- ng-options ha come valore solo l'id-->
<select ng-init="valoreSelezionatoNuovoBis=3" ng-model="valoreSelezionatoNuovoBis" ng-options="iteratore.id as iteratore.value for iteratore in valori">
	<option>
	</option>
</select>
<br>
{{valoreSelezionatoNuovoBis}}

<select ng-model="selectedItem" ng-options="citta.nome as citta.nome group by citta.regione for citta in elencoCitta"></select>

<button ng-click="somma($event)">Somma</button>

{{risultato}}

<p>{{"Hello Angular" | uppercase | lowercase | limitTo:5 }} </p>
<p>{{elencoCitta | limitTo:1}}

<p> {{3.14159 | number}} </p>
<p> {{3.14159 | number:2}} </p>
<p> {{3.14159 | number:0}} </p>

<p> {{1200.45 | currency}} </p>

<p> {{1200.45 | currency:"&euro;":0}} </p>

<p> {{1200.45 | currency:"&agrave;":0}} </p>

<p> {{dataOra}} </p>
<p> {{dataOra | date}} </p>

<p>{{[5,3,6,1] | orderBy}}</p>

<ul>
	<p>Ordino le citta per nome</p>
	<li ng-repeat="citta in elencoCitta | orderBy:'nome'">  {{citta.nome}} </li>
</ul>

<ul>
	<p>Filtro le citta la cui regione e Sicilia</p>
	<li ng-repeat="citta in elencoCitta | filter:{regione:'Sicilia'}">  {{citta.nome}} </li>
</ul>

<ul>
	<p>Filtro le citta le cui regioni hanno la L</p>
	<li ng-repeat="citta in elencoCitta | filter:{regione:'L'}">  {{citta.nome}} </li>
</ul>

<div ng-controller="filtroController">

{{test}} <br>
{{adesso}} <br>

{{"daniele lo vetere" | capitalize}}
 </div>
<br>

{{333}}
{{333 | italianformat}}
{{2462.23 | eurize}}


</body>
</html>